@font-face {
    font-family: 'Milkman';
    src: url('fonts/milkman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Maver';
    src: url('fonts/Maver-Free.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/HelveticaNeue.ttc') format('truetype-collection');
    font-weight: 100;
    font-style: normal;
}

body, html {
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    font-family: Arial, sans-serif;
    background-color: #F3E9DC;
    color: #1E1E1E;
    height: 100%;
    overflow-x: hidden;
}
h3{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color:#EC654B;
}
h4{
    font-family: 'Helvetica Neue';
    font-weight: 300;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.orange-circle {
    position: absolute;
    width: 40%;
    height: 50%;
    background-color: #EC654B;
    border-radius: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.header {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1E1E1E;
    width: 100%;
}

.title .row1 {
    position: absolute;
    font-family: 'Milkman';
    bottom: 200px; /* Adjust this to move closer to the center */
    left: 50%;
    transform: translate(-50%, 50%); /* Move up to align with Projects and Contact */
    font-size: 1rem;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: #F3E9DC;
}

.title .row3 {
    position: absolute;
    font-family: 'Milkman';
    top: 200px; /* Adjust this to move closer to the center */
    left: 50%;
    transform: translate(-50%, -50%); /* Move down to align with CV and About */
    font-size: 1rem;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    color: #F3E9DC;
}

.title .row2 {
    font-family: 'Maver';
    font-size: 7rem;
    margin: 0.5rem 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: 3px;
    color: #1E1E1E; /* Original text color */
}

.button {
    position: absolute;
    width: 120px; /* Fixed width for consistent sizing */
    height: 40px; /* Fixed height for consistent sizing */
    padding: 10px;
    background-color: #F3E9DC;
    border: 2px solid #EC654B;
    border-radius: 80px;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 2;
}

.button a {
    text-decoration: none;
    color: #1E1E1E;
}

.button:hover {
    background-color: #2864f4;
    border: 1px solid #F3E9DC; 
}
.button:hover a {
    color: #F3E9DC;
}

.cv {
    top: 220px; /* Align with Studio Gulden */
    left: 25%; /* Adjusted for spacing */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300; 
    font-size: 1.2rem;
}
.tldr{
    padding-left: 10%;
    padding:10%;
    border:solid 1px#EC654B;
    border-radius: 35%;
}

.about {
    top: 220px; /* Align with Studio Gulden */
    right: 25%; /* Adjusted for spacing */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300; 
    font-size: 1.2rem;
}

.projects {
    bottom: 210px; /* Align with Proudly Present */
    left: 25%; /* Adjusted for spacing */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300; 
    font-size: 1.2rem;
}

.contact {
    bottom: 210px; /* Align with Proudly Present */
    right: 25%; /* Adjusted for spacing */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300; 
    font-size: 1.2rem;
}

section {
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
}

/* about */
#about h2 {
    font-family: 'Maver', sans-serif;
    font-size: 3.5rem;
    color: #2864f4;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
}

.about-left {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-right {
    flex: 1.5;
    text-align: center;
}

.about-image {
    width: 100%;
    max-width: 450px;
    border-radius: 50%;
    border: 1px solid #EC654B;
    margin: 8%;
}

.about-title {
    font-family: 'Milkman', sans-serif;
    font-size: 1.5rem;
    color: #2864f4;
    text-align: left;
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.about-list {
    list-style-type: disc;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

.about-list li {
    margin-bottom: 10px;
}

.about-column h3 {
    font-family: 'Milkman', sans-serif;
    font-size: 1.5rem;
    color: #2864f4;
    margin-bottom: 10px;
}

.about-column p, .about-column ul {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-column ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-column ul li {
    margin-bottom: 10px;
}

/*cv*/
.cv-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Three-column grid */
    gap: 20px; /* Space between columns */
    padding: 20px 0;
    align-items: stretch; 
}

/* Add lines between columns */
.cv-column {
    padding: 0 15px;
    border-right: 2px solid #ccc; /* Light gray line between columns */
}

/* Remove the line from the last column */
.cv-column:last-child {
    border-right: none;
}

.cv h2 {
    font-family: 'Maver', sans-serif;
    padding-top: 10%;
    font-size: 4rem;
    color: #2864f4;
    margin-bottom: 10px;
}
.cv-column h3 {
    font-family: 'Milkman', sans-serif;
    font-size: 1.5rem;
    color: #2864f4;
    margin-bottom: 10px;
    align-items: center;
}

.cv-column p, .cv-column ul {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300; 
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
}

.cv-column ul {
    padding-left: 20px;
}

.cv-column ul li {
    list-style-type: disc;
}

/* Technical Skills Section */
.cv-technical-skills {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #EC654B; /* Orange border */
    border-radius: 10px;
    background-color: transparent; /* Transparent background */
    text-align: center;
}

.cv-technical-skills h3 {
    font-family: 'Milkman', sans-serif;
    font-size: 1.5rem;
    color: #1E1E1E;
    margin-bottom: 10px;
}

.cv-technical-skills p {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}
/* Collapsible Key Modules */
.key-modules-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EC654B;
    cursor: pointer;
}

.key-modules-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 20px;
}

.key-toggle {
    background: none;
    border: none;
    color: #EC654B;
    font-size: 1.5rem;
    cursor: pointer;
}

.key-modules.open .key-modules-content {
    max-height: 800px; /* Adjust based on the amount of content */
}

.key-modules.open .key-toggle {
    transform: rotate(45deg);
}


.download-cv {
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.download-btn {
    position: static;
    margin-top: 0;
    width: auto;
    height: auto;
    padding: 10px 20px;
    background-color: #F3E9DC;
    border: 2px solid #EC654B;
    border-radius: 80px;
    font-size: 1rem;
    font-weight: lighter;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300; 
    color: #1E1E1E;
}

.download-btn:hover {
    background-color: #2864f4;
    color: #F3E9DC;
    border: 1px solid #F3E9DC;
}


.download-btn:hover {
    background-color: #2864f4;
    border: 1px solid #F3E9DC; 
}
.download-btn:hover a {
    color: #F3E9DC;
}
/* Projects Section */
#projects {
    margin-top: 30%;
    margin-bottom: 30%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
}

#projects h2 {
    font-family: 'Maver', sans-serif;
    font-size: 4rem;
    color: #2864f4;
    margin-bottom: 10%;
}

.project {
    display: flex;
    margin-bottom: 40px;
    position: relative;
}

/* Image Carousel */
.project-image-carousel {
    flex: 1;
    padding-right: 20px;
}

.project-slideshow {
    position: relative;
    width: 100%;
}

.mySlides-1, .mySlides-2, .mySlides-3, .mySlides-4 {
    display: none; /* Hide all images by default */
}

.mySlides-1 img, .mySlides-2 img, .mySlides-3 img, .mySlides-4 img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Expand Button */
.expand-btn {
    display: inline-block;
    background-color: #EC654B;
    color: #F3E9DC;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    border: none;
}

.expand-btn:hover {
    background-color: #2864f4;
}

.project-details {
    flex: 2;
    padding-left: 20px;
}

.project-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.project.open .project-content {
    max-height: 500px; /* Adjust based on content height */
}

/* Toggle Button */
.toggle-btn {
    color: #EC654B;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    margin-top: 10px;
}

.toggle-btn:hover {
    color: #2864f4;
}

.project-details hr {
    width: 70%;
    margin-left: 0;
    border: 1px solid #2864f4;
}

/* Contact */

.contact-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    transition: transform 0.3s ease;
}
.contact-item a:hover .contact-icon {
    transform: scale(1.1); /* Adds a hover effect to enlarge the icons slightly */
}

#contact h2 {
    font-family: 'Maver', sans-serif;
    font-size: 3rem;
    color: #2864f4;
    margin-bottom: 20px;
    text-align: center;
}
@media only screen and (max-width: 768px) {
    /* Stack the container content vertically */
    .container {
        flex-direction: column;
        height: auto; /* Adjust height dynamically */
        padding: 20px;
    }

    /* Hide extra text */
    .row1, .row3 {
        display: none;
    }

    /* Center the title and adjust the size/color */
    .title .row2 {
        font-size: 2.5rem; /* Make it smaller */
        color: #2864f4; /* Blue color */
        text-align: center;
        margin-bottom: 20px;
    }

    /* Arrange the buttons in a 2x2 grid below the title */
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px; /* Add spacing between buttons */
        justify-items: center; /* Center the buttons */
        margin-bottom: 40px; /* Add space below the buttons */
    }

    .button {
        margin: 0;
        width: 100%;
        max-width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* Remove the orange circle for mobile */
    .orange-circle {
        display: none;
    }

    /* Add padding to the next section to ensure spacing */
    section {
        padding: 40px 20px;
        height: auto;
    }

    /* Adjust about section */
    .about-container {
        flex-direction: column; /* Stack left and right parts vertically */
        align-items: center;
    }

    .about-left, .about-right {
        width: 100%;
        max-width: 600px;
        padding: 0;
    }

    .about-image {
        width: 70%; /* Adjust image size for mobile */
        max-width: 300px;
        margin-bottom: 20px;
    }

    /* Adjust CV section */
    .cv-container {
        grid-template-columns: 1fr; /* Stack columns vertically */
        gap: 20px;
    }

    .cv-column {
        border-right: none; /* No lines when stacked */
        border-bottom: 2px solid #ccc; /* Add bottom line for separation on mobile */
    }

    .cv-column:last-child {
        border-bottom: none; /* No bottom line on the last column */
    }

    /* Contact Section */
    .contact-container {
        flex-direction: column; /* Stack contact items vertically */
        gap: 10px;
    }

    .contact-item {
        width: 100%;
        text-align: center;
    }

    .contact-icon {
        width: 50px;
        height: 50px;
    }
    
    .project {
        flex-direction: column;
    }
    .project-slideshow{
        display: none;
    }

    .left, .right {
        padding: 0;
    }
}
